@{
    
}

<head>
    <title>Events</title>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

    <!--datatables-->
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.2/css/jquery.dataTables.css" />
    <script src="//cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>
    <script src="/scripts/tableTools.js"></script>

    <!--bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    <script src="~/Scripts/moment.min.js"></script>

    <script id="templateDetails" type="text/html">
        <div>
            <p class="detailLabel">Description</p>
            <p id="description"></p>
            <p class="detailLabel">Status</p>
            <select id="status" onchange="setStatus()">
                <option value="0">Pending</option>
                <option value="1">Working</option>
                <option value="2">Completed</option>
                <option value="3">Waiting</option>
                <option value="4">Blocked</option>
                <option value="5">Cancelled</option>
            </select>
            <p class="detailLabel">Priority</p>
            <select id="priority" onchange="setPriority()">
                <option value="1">Very Low</option>
                <option value="2">Low</option>
                <option value="3">Normal</option>
                <option value="4">High</option>
                <option value="5">Very High</option>
            </select>
            <p class="detailLabel">Tags</p>
            <p id="tags"></p>
            <p class="detailLabel">Data</p>
            <div id="data"></div>
            <p class="detailLabel">Comments</p>
            <div id="comments"></div>
        </div>
    </script>
<script>
    // functions

    function formatDate(date) {
        if (date) {
            return moment(date).format("MM/DD/YY");
        }
        else {
            return null;
        }
    }

    function formatPriority(priority) {
        var priorityLookup = {
            1: "Very Low",
            2: "Low",
            3: "Normal",
            4: "High",
            5: "Very High"
        };

        return priorityLookup[priority];
    }

    function formatStatus(status) {
        var statusLookup = {
            0: "Pending",
            1: "Working",
            2: "Completed",
            3: "Waiting",
            4: "Blocked",
            5: "Cancelled"
        };

        return statusLookup[status];
    }

    function createAnEvent() {
        var data = new Object();
        data.Priority = $("#priority").val();
        data.Subject = $("#subject").val();
        data.Description = $("#description").val();
        data.Due = $("#duedate").val();

        $.ajax({
            url: '/events',
            method: 'POST',
            data: data,
            success: function () {
                $("#example").DataTable().ajax.reload()
                $("#myModal").modal('toggle');
                $("#myModal").find('form')[0].reset()
            }
        });
    }

    function setStatus() {
        var eventId = $("#details").data('eventId');
        var newStatus = $("#status").val();

        $.ajax({
            url: '/events/' + eventId + "/status?status=" + newStatus,
            method: 'POST',
            success: function () {
                $("#example").DataTable().ajax.reload()
            }
        });
    }

    function setPriority() {
        var eventId = $("#details").data('eventId');
        var newPriority = $("#priority").val();

        $.ajax({
            url: '/events/' + eventId + "/priority?priority=" + newPriority,
            method: 'POST',
            success: function () {
                $("#example").DataTable().ajax.reload()
            }
        });
    }

    // main
        $(document).ready(function () {
            var t = $('#example').dataTable({
                "ajax": "/events",
                "columns": [
                    { "data": "Subject", width: "75%" },
                    { "data": "Status", width: "5%", render: formatStatus },
                    { "data": "Priority", width: "5%", render: formatPriority },
                    { "data": "Due", width: "5%", render: formatDate },
                    { "data": "Created", width: "5%", render: formatDate },
                    { "data": "Updated", width: "5%", render: formatDate },

                ]
            });

            $('#example tbody').on('click', 'tr', function () {
                var item = t.fnGetData(this);
                var details = $("#details");

                details.data('eventId', item._id);

                details.html($("#templateDetails").text());
                
                $("#description").html(item.Description);

                var found = $("#status option[value=" + item.Status + "]");
                found.prop('selected', true);
                $("#priority option[value=" + item.Priority + "]").prop('selected', true);

                item.Comments.forEach(function (comment) {
                    $("#comments").append("<p>" + comment.Time + ": " + comment.Message + "</p>");
                });
            });
        });
    </script>

    <style>
        #page { padding: 15px; }
        #header { margin-bottom: 10px; }
        .detailLabel { color: darkblue; font-weight: bold }
    </style>
</head>
<body>
    <div id="page">
        <div id="header">
            <button class="btn btn-success" data-toggle="modal" data-target="#myModal">Create</button>
        </div>
        <div id="content">
            <table id="example" class="display" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>Subject</th>
                        <th>Status</th>
                        <th>Priority</th>
                        <th>Due</th>
                        <th>Created</th>
                        <th>Updated</th>
                    </tr>
                </thead>
            </table>
            <div id="details">

            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Create Event</h4>
                </div>
                <div class="modal-body">
                    <form role="form">
                        <div class="form-group">
                            <label for="subject">Subject</label>
                            <input type="text" class="form-control" id="subject" placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Description</label>
                            <textarea class="form-control" id="description"></textarea>
                        </div>
                        <div class="form-group">
                            <label>Priority</label>
                            <select class="form-control" id="priority">
                                <option value="1">Very Low</option>
                                <option value="2">Low</option>
                                <option value="3" selected="selected">Normal</option>
                                <option value="4">High</option>
                                <option value="5">VeryHigh</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Due Date</label>
                            <input type="text" class="form-control" id="duedate" placeholder="">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="createAnEvent()">Create</button>
                </div>
            </div>
        </div>
    </div>
</body>