@{
    
}

<html>
<head>
    <title>Events</title>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

    <!--datatables-->
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.2/css/jquery.dataTables.css" />
    <script src="//cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>
    <script src="/scripts/tableTools.js"></script>

    <!--bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    


</head>
<body>
    <div id="page">
        <div id="header">
            <button class="btn btn-success" onclick="toggleModal_createEvent()">Create</button>
        </div>
        <div id="content">
            <div>
                <p class="detailLabel">Description</p>
                <p id="description"></p>
                <p class="detailLabel">Status</p>
                <select data-bind="options: statuses, value: detail().Status, optionsText: 'name', optionsValue: 'id', event: { change: setStatus }"></select>
                <p class="detailLabel">Priority</p>
                <select data-bind="options: priorities, value: detail().Priority, optionsText: 'name', optionsValue: 'id', event: { change: setPriority }"></select>

                <p class="detailLabel">Tags</p>
                <div>
                    <button class="btn btn-success"><span class="glyphicon glyphicon-plus-sign"></span></button>
                    <p style="font-size:32px" id="tags"><span class="label label-default">Comcast</span><span style="margin-left:2px" class="label label-default">Call</span></p>
                </div>

                <p class="detailLabel">Data</p>
                <div id="data"></div>
                <p class="detailLabel">Comments</p>
                <div id="comments"></div>
            </div>
            <table id="example" class="display" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>Subject</th>
                        <th>Status</th>
                        <th>Priority</th>
                        <th>Due</th>
                        <th>Created</th>
                        <th>Updated</th>
                    </tr>
                </thead>
            </table>
            <div id="details">

            </div>
        </div>
    </div>

    <!-- Data Form -->

    <script id="templatePropertyFormRow" type="text/html">
        <div class="form-group">
            <div class="col-sm-4">
                <input type="text" class="form-control dataform-key" placeholder="">
            </div>
            <div class="col-sm-4 dataform-value-wrapper">
                <input type="text" class="form-control  dataform-value" placeholder="">
            </div>
            <div class="col-sm-3">
                <select class="form-control dataform-type">
                    <option selected="selected">Text</option>
                    <option>Object</option>
                    <option>List</option>
                </select>
            </div>
            <div class="col-sm-1">
                <button class="btn btn-success">Add</button>
            </div>
        </div>
        <div class="form-group child-container" style="margin-left: 50px; margin-right:10px;">
            <div role="form" class="form-horizontal"></div>
        </div>
    </script>

    <script id="templateValueFormRow" type="text/html">
        <div class="form-group">
            <div class="col-sm-4 dataform-value-wrapper">
                <input type="text" class="form-control  dataform-value" placeholder="">
            </div>
            <div class="col-sm-3">
                <select class="form-control dataform-type">
                    <option selected="selected">Text</option>
                    <option>Object</option>
                    <option>List</option>
                </select>
            </div>
            <div class="col-sm-1">
                <button class="btn btn-success">Add</button>
            </div>
        </div>
        <div class="form-group child-container" style="margin-left: 50px; margin-right:10px;">
            <div role="form" class="form-horizontal"></div>
        </div>
    </script>

    <!-- Modal -->
    <div class="modal fade" id="modalCreateEvent" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Create Event</h4>
                </div>
                <div class="modal-body">
                    <form role="form">
                        <div class="form-group">
                            <label for="subject">Subject</label>
                            <input type="text" class="form-control" id="subject" placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Description</label>
                            <textarea class="form-control" id="description"></textarea>
                        </div>
                        <div class="form-group">
                            <label>Priority</label>
                            <select class="form-control" id="priority">
                                <option value="1">Very Low</option>
                                <option value="2">Low</option>
                                <option value="3" selected="selected">Normal</option>
                                <option value="4">High</option>
                                <option value="5">VeryHigh</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Due Date</label>
                            <input type="text" class="form-control" id="duedate" placeholder="">
                        </div>
                        <div class="form-group">
                            <label>Tags</label><br />
                            <div>
                                <input id="newLabel" style="width:90%; display:inline" type="text" class="form-control">
                                <button class="btn btn-default" type="button" onclick="addTag()"><span class="glyphicon glyphicon-plus"> </span></button>
                            </div>
                            <div id="labels" style="margin-top:10px"></div>
                        </div>
                        <div class="form-group">
                            <label>Data</label>
                            <div id="dataform-root" data-level="0" data-type="Object" role="form" class="form-horizontal" style="margin-right:30px"></div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="createAnEvent()">Create</button>
                </div>
            </div>
        </div>
    </div>

    <script src="~/Scripts/moment.min.js"></script>
    <script src="~/Scripts/knockout-3.2.0.js"></script>
    <script src="~/Scripts/knockout.mapping-latest.js"></script>

    <!--page-->
    <script src="~/Scripts/Home/DataForm.js"></script>
    <script src="~/Scripts/Home/Index.js"></script>
    <link href="~/Content/Index.css" rel="stylesheet" />
</body>
</html>