
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Test</title>

    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    <style>
        body { padding: 10px; }
        /*#mainForm { width: 500px; }*/
    </style>

    <script id="templateFormRow" type="text/html">
        <div class="form-group">
            <div class="col-sm-4">
                <input type="text" class="form-control dataform-key" placeholder="">
            </div>
            <div class="col-sm-4 dataform-value-wrapper">
                <input type="text" class="form-control  dataform-value" placeholder="">
            </div>
            <div class="col-sm-3">
                <select class="form-control">
                    <option selected="selected">Text</option>
                    <option>List</option>
                    <option>Object</option>
                </select>
            </div>
            <div class="col-sm-1">
                <button class="btn btn-success">Add</button>
            </div>
            <div class="childContainer"></div>
        </div>
    </script>

    <script>
        function add_OnClick() {
            var parent = $(this).closest(".form-group");
            appendRow(false, parent);
        }

        function appendRow(increaseLevel, parent) {
            if (parent == null) {
                parent = $("#mainForm");
            }

            var level = parent.data("level");
            if (increaseLevel) {
                level += 1;
            }
                
            var newRow = $($("#templateFormRow").text());
            newRow.data("level", level);
            newRow.find("select").change(updateType);
            newRow.find("button").click(add_OnClick);
            
            if (level > 0) {
                newRow.css("margin-left", (level * 100) + "px");
            }

            if (parent[0].id == "mainForm") {
                parent.append(newRow);
            }
            else if (increaseLevel) {
                parent.after(newRow);
            }
            else {
                var sameLevelRows = parent.parent().children().filter(function (i,o) {
                    return $(o).data("level") == level;
                });

                sameLevelRows.last().after(newRow);
            }

            newRow.find(".dataform-key").focus();
            event.preventDefault();
        }

        function updateType() {
            var valueType = $(this).val();
            var valueWrapper = $(this).parent().siblings('.dataform-value-wrapper');
            var value = valueWrapper.children();
            var formGroup = $(this).closest(".form-group");

            if (valueType == "Object") {
                value.prop('disabled', true);
                var nextLevel = formGroup.data("level") + 1;
                appendRow(true, formGroup);
                
                $(this).prop('disabled', true);
            }
            else if (valueType == "List") {
                value.val("Click to edit...");
                value.click(createList);
                $(this).prop('disabled', true);
            }
            else {
                value.val("");
            }
        }

        function createList() {
            alert('editing list!');
        }

    </script>

    <script>
        $(document).ready(function () {
            appendRow(false, null);
        });
    </script>
</head>


<body>
    <div> 
        <form id="mainForm" role="form" class="form-horizontal" data-level="0"></form>
    </div>
</body>
</html>
